.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(245, 245, 245, .8);
}

.flex-bottom {
    flex: 10;
    overflow-y: scroll;
    text-align: center;
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
}

.flex-main {
    flex: 10;
}

.flex-footer {
    flex: 1;
    margin-top: 35px;
    margin-bottom: 10px;
}