.flex-top {
    flex: 1;
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0);
}

header h1 {
    font-family: 'Merriweather', serif;
    color: darkgoldenrod;
}

header {
    background-color: white;
}