.flex-nav {
    display: inline-flex;
}

.nav-item {
    margin-left: 20px;
    margin-right: 20px;
    list-style-type: none;
}

a {
    text-shadow: none;
    color: navy;
    font-weight: bold;
}

@media (max-width: 845px) {
    .nav-item {
        margin-left: 6px;
        margin-right: 6px;
    }
}