.flex-nav {
    display: inline-flex;
}

.nav-item {
    margin: 5px;
    list-style-type: none;
    padding: 8px;
    border: 2px solid navy;
    border-radius: 10px;
    background-color: navy;
    cursor: pointer;
}

.nav-item:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: white;
    text-shadow: none;
}

@media (max-width: 845px) {
    .flex-nav {
        flex-direction: column;
    }
}