.flex-forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-players {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.player {
    margin: 25px;
    padding: 7px;
    border: 3px solid black;
    border-radius: 10px;
}

@media (max-width: 845px) {
    .flex-players {
        flex-direction: column;
    }
} 