* {                                            
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

html {
    background: url("https://i.postimg.cc/pL8PX3ZJ/hence-the-boom-465963-unsplash.jpg") no-repeat center center fixed;
    background-size: cover;
    text-shadow: 1px 1px 2px whitesmoke;
}

input, textarea, label, select, button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input, textarea, select {
    font-size: 16px;
}

button {
    margin-top: 5px;
    padding: 8px;
    border: 2px solid navy;
    border-radius: 10px;
    cursor: pointer;
    background-color: navy;
    color: white;
    font-size: 14px;
    width: 110px;
}

button:hover {
    transform: scale(1.1);
}

label {
    margin: 10px;
    font-weight: bold;
}

textarea {
    max-width: 300px;
}

.form-error, .form-warning {
    color: red;
}

.form-success {
    color: green;
}

.test-credentials {
    color: red;
}

#number, #number-edit {
    width: 50px;
}